body{
/*    background-image: url("../images/background.png"); */
    background-repeat: no-repeat;
    background-position: right top;
 }

 .button {
    background-color: #f44336; /* Green */
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px 2px;
    cursor: pointer;
}

section{
	width: 100%; 
	padding-left: 10px;
	background-position: center center; 
	background-attachment: fixed; 
	background-repeat: no-repeat;
}
/*Table row style*/
td {
  vertical-align: top;
  height:50px;
  overflow: auto;
}
p{
  font-size: 8px;
}

/*Caption styles*/
.time{
  font-size: 10px;
}
.seq{
  font-size: 18px;
  font-style: italic;
}
.name{
  font-size: 12px;
  margin-bottom: 0px;
}
.normal{
  font-size: 16px;
  margin-bottom: 6px;
}
.emphasis{
  font-size: 16px;
  font-style: italic
}
.yell{
  font-size: 18px;
  font-weight: bold;
}
.cue{
  font-size: 12px;
  margin-bottom: 0px;
  font-weight: bold;
  color: #f44336
}
	
#a1{height: 3150px;}


#overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: block;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 70px;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: -2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
  }

  #overlay2 {
    position: fixed;
    /* Sit on top of the page content */
    display: block;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 170px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 170;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
  }

  #overlay3 {
    position: fixed;
    /* Sit on top of the page content */
    display: block;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 145px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /* Black background with opacity */
    z-index: -3;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
  }
